
stylus语法公共样式--可用于修改一些框架的默认样式

.mint-search
    height: 60px;

.mint-searchbar-cancel
    font-size: 18px;

.mintui-search:before
    font-size: 18px;
    
.mint-searchbar-core
    font-size: 18px;
    padding-left: 3px;


.mt-progress
    font-size: 16px;

.mint-popup
    font-size: 20px;
    padding: 10px 20px;
    line-height: 36px;

.mintui-field-success:before
    margin-right: 30px;

.mintui-field-error:before
    margin-right: 30px;

.mintui-field-warning:before
    margin-right: 30px;
    